{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center p-3">
    <h1 class="display w-100 text-start pt-4 mt-4">Welcome</h1>
    <h2 class="w-100 text-start">example-insurance-api.co.uk</h2>
    <p class="w-100 text-start mb-auto">The insurance data api. Upload insurance data and allow access through our api. Use the data to predict medical insurance premiums.</p>
    <div class="col-xs-12 col-md-4">

    </div>
    {% include "navigation_button_col.html" %}
    <div class="col-xs-12 col-md-4">

    </div>

</div>


{% endblock content %}
