<!-- Modal -->
<div class="modal fade" id="processCsvModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="processCsvModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="processCsvModalLabel">Process data to push</h5>
      </div>
      <div class="modal-body">
        <p class="lead mb-0">Column Names</p>
        <ul class="list-group-flush border-0" id="column_names_info">
          </ul>

          <p class="lead mb-0 text-center" id="exit_status"></p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" href="{% url 'upload' %}">Close</a>
      </div>
    </div>
  </div>
</div>
