{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center p-3">

  {% if unprocessed_uploads %}
  <div class="col-xs-12 col-md-4 mt-auto mb-4">

    <label for="select_unprocessed" class="form-label">Uploaded files that require processing</label>
    <select class="form-select form-select-lg mb-4" id="select_unprocessed">

      {% for document in unprocessed_uploads %}
      {% if forloop.counter0 == 0 %}
        <option value="{{document.id}}" selected>{{document}}</option>
        {% else %}
        <option value="{{document.id}}">{{document}}</option>
        {% endif %}
      {% endfor %}
      </select>

    <button class="btn w-100 my-2" type="submit" name="button">Process & push</button>
    </div>
  {% endif %}
    <div class="col-xs-12 col-md-4 mt-auto mb-4">
        <div class="form-group">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            <label for="id_document" class="form-label mt-4">Select a file to upload</label>
            <input class="form-control mb-4" type="file" name="document" id="id_document">
            {% if form.errors %}

             <strong>{{ form.document.errors }}</strong>

            {% endif %}


            <button class="btn w-100 my-2" type="submit" name="button">Upload</button>
            </form>
          </div>
      </div>
{% include "navigation_button_col.html" %}
</div>
{% endblock content %}
